<div class="control-group low-data-mode">
  <label class="control-label">{{theme-i18n "low_data_mode"}}</label>
  <div class="controls">
    <PreferenceCheckbox
      @labelKey={{theme-prefix 'low_data_mode_image'}}
      @checked={{model.lowDataMode.image}}
    />
  </div>
  <div class="controls">
    <PreferenceCheckbox
      @labelKey={{theme-prefix 'low_data_mode_video'}}
      @checked={{model.lowDataMode.video}}
    />
  </div>
</div>